.compensator{
    height:99px;
}
.no-margin .col-sm-12{
    margin: 0;
    padding: 0;
}
.search-result-holder{
    min-height:280px;
}
a.letter-dead-link{
    color:#535454 !important;
}a.letter-link{
    color:#45B39D !important;
}