<section ng-controller="MultiCarrouselController as carouselCtrl">
    <h2>{{block.title}}</h2>
    <div id="{{'block'+block.id}}" class="owl-demo">

        <div class="item" ng-repeat="content in carouselCtrl.contents track by $index">
            <a ng-href="{{content.detailPageUrl}}">
                <img ng-if="!isArray(content.fields[blockConfig.imageField])" ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField],carouselCtrl.getImageOptions())}}" alt="Owl Image">
                <img ng-if="isArray(content.fields[blockConfig.imageField])" ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields[blockConfig.imageField][0],carouselCtrl.getImageOptions())}}" alt="Owl Image">
                <h4>{{content.fields.text}}</h4>
            </a>

                <h5 ng-repeat="artist in content.fields.artists"><a perso-content-link page="{{blockConfig.authorPage}}" content="{{artist}}"></a></h5>

        </div>


    </div>
    <div class="btn-group pull-right" ng-if="carouselCtrl.latestReleasesPageUrl">
        <a ng-href="{{carouselCtrl.latestReleasesPageUrl}}" class="btn btn-default">All latest releases</a>
    </div>
    <div class="clearfix"></div>
</section>