<div class="blog" ng-controller="ReleaseListController as contentListCtrl">
    <h2>{{block.title}}</h2>
    <div class="blog-item">
        <div class="blog-content" ng-repeat="content in contentListCtrl.contents">
            <div class="col-sm-12">
                <div class="item">
                    <div class="item-inner">
                        <a ng-href="{{ content.detailPageUrl }}">
                            <img class="img-responsive" ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.images[0],{}) }}" alt="">
                            <h4>{{content.fields.text }}</h4>
                        </a>
                        <h5 ng-repeat="artist in content.fields.artists"><a perso-content-link page="{{blockConfig.authorPage}}" content="{{artist}}"></a></h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>