<div ng-controller="SearchResultsController as searchResultsCtrl">
    <!--<h2>{{block.title}}</h2>-->
<div class="row">
    <div class="col-md-3">
        <div class="blog">
            <div class="blog-item">
                <div class="blog-content search">
                    <div class="col-sm-12">
                        <form role="form" ng-submit="searchResultsCtrl.onSubmit()" role="form">
                            <div class="input-group">
                                <input type="text" ng-model="searchResultsCtrl.query" class="form-control" autocomplete="off" placeholder="Search">
											<span class="input-group-btn">
												<button class="btn btn-danger" type="submit"><i class="icon-search icon"></i></button>
											</span>
                            </div>
                        </form>
                        <div ng-repeat="facet in searchResultsCtrl.facets track by $index" ng-if="facet.terms || facet.ranges">
                            <h4>{{facet.label}}</h4>
                            <ul class="arrow" ng-if="facet['_type']!='date'">
                                <li ng-if="facet.terms" class="cursor-as-pointer" ng-repeat="term in facet.terms track by $index">
                                    <a ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.term)">{{term.label}}</a>&nbsp;<span class="badge">{{term.count}}</span>
                                </li>
                                <li ng-if="facet.ranges" class="cursor-as-pointer" ng-repeat="term in facet.ranges track by $index">
                                    <a ng-click="searchResultsCtrl.clickOnFacets(facet.id, term.key)">{{term.label}}</a>&nbsp;<span class="badge">{{term.count}}</span>
                                </li>
                            </ul>
                            <datehistogram-facet ng-if="facet['_type']=='date'"></datehistogram-facet>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9" ng-if="searchResultsCtrl.demoDisplayStyle=='release'">
        <h3><i class="icon-search icon"></i> {{searchResultsCtrl.count}} releases</h3>
        <div class="clearfix">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">{{searchResultsCtrl.displayOrderBy}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ng-click="searchResultsCtrl.changeOrderBy('_score')">{{rubedo.translate("Search.Label.OrderByRelevance", "Order by relevance")}}</a></li>
                        <li><a href ng-click="searchResultsCtrl.changeOrderBy('lastUpdateTime')">{{rubedo.translate("Search.Label.OrderByDate", "Order by date")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeOrderBy('authorName')" href>{{rubedo.translate("Search.Label.OrderByAuthor", "Order by author")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeOrderBy('text')" href>{{rubedo.translate("Blocks.Search.Label.OrderByTitle", "Order by title")}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">{{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="searchResultsCtrl.changeLimit(10)" href>10 {{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeLimit(20)" href>20 {{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeLimit(50)" href>50 {{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}}</a></li>
                    </ul>

                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-3 search-result-holder" ng-repeat="datum in searchResultsCtrl.data track by $index">
                <a ng-href="{{datum.url}}">
                    <img ng-if="datum.images[0]" class="img-responsive" ng-src="{{rubedo.imageUrl.getUrlByMediaId(datum.images[0],{}) }}" alt="">
                    <img ng-if="datum.image" class="img-responsive" ng-src="{{rubedo.imageUrl.getUrlByMediaId(datum.image,{}) }}" alt="">
                    <h4>{{datum.title}}</h4>
                </a>
                <h5 ng-repeat="artist in datum.artists"><a perso-content-link page="{{blockConfig.authorPage}}" content="{{artist}}"></a></h5>
            </div>

        </div>

        <paginator start="searchResultsCtrl.start" limit="searchResultsCtrl.limit"
                   count="searchResultsCtrl.count"
                   change-page-action="searchResultsCtrl.changePageAction()"></paginator>
    </div>

    <div class="col-md-9" ng-if="searchResultsCtrl.demoDisplayStyle=='article'">
        <div class="blog">
        <h3><i class="icon-search icon"></i> {{searchResultsCtrl.count}} articles</h3>
        <div class="clearfix">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">{{searchResultsCtrl.displayOrderBy}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ng-click="searchResultsCtrl.changeOrderBy('_score')">{{rubedo.translate("Search.Label.OrderByRelevance", "Order by relevance")}}</a></li>
                        <li><a href ng-click="searchResultsCtrl.changeOrderBy('lastUpdateTime')">{{rubedo.translate("Search.Label.OrderByDate", "Order by date")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeOrderBy('authorName')" href>{{rubedo.translate("Search.Label.OrderByAuthor", "Order by author")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeOrderBy('text')" href>{{rubedo.translate("Blocks.Search.Label.OrderByTitle", "Order by title")}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">{{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="searchResultsCtrl.changeLimit(10)" href>10 {{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeLimit(20)" href>20 {{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}}</a></li>
                        <li><a ng-click="searchResultsCtrl.changeLimit(50)" href>50 {{rubedo.translate("Blocks.Search.Label.ByPage", "by page")}}</a></li>
                    </ul>

                </li>
            </ul>
        </div>


            <div class="blog-item" ng-repeat="datum in searchResultsCtrl.data track by $index">
                <img ng-if="datum.images[0]" class="img-responsive" ng-src="{{rubedo.imageUrl.getUrlByMediaId(datum.images[0],{}) }}" alt="">
                <img ng-if="datum.image" class="img-responsive" ng-src="{{rubedo.imageUrl.getUrlByMediaId(datum.image,{}) }}" alt="">
                <div class="blog-content clearfix">
                    <a ng-href="{{datum.url}}"><h3>{{datum.title}}</h3></a>
                    <div class="entry-meta">
                        <span><i class="icon-calendar"></i> {{datum.date  | date: 'fullDate'}}</span>
                        <a ng-repeat="tag in datum.taxoLabels"><span class="badge">{{tag}}</span> </a>

                    </div>
                    <p>{{datum.summary}}</p>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" ng-href="{{datum.url}}">Read more</a>
                    </div>
                </div>
            </div>

        <paginator start="searchResultsCtrl.start" limit="searchResultsCtrl.limit"
                   count="searchResultsCtrl.count"
                   change-page-action="searchResultsCtrl.changePageAction()"></paginator>
        </div>
    </div>
</div>
</div>